<%= form_for(@processarea) do |f| %>
  <% if @processarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@processarea.errors.count, "error") %> prohibited this processarea from being saved:</h2>

      <ul>
      <% @processarea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nivel %><br>
    <%= f.number_field :n_level %>
  </div>
  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :t_name %>
  </div>
  <div class="field">
    <%= f.label :Iniciales %><br>
    <%= f.text_field :t_initials %>
  </div>
  <div class="field">
    <%= f.label :Categoria %><br>
    <%= f.text_field :t_category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
