<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left"> 

    <p id="notice"><%= notice %></p>

        <h1>Areas de Proceso</h1>	

		<%=  datagrid_form_for @grid, :method => :get,  :url => processareas_path  %>

		<%= paginate(@grid.assets) %>
		<%= datagrid_table @grid %>
		<%= paginate(@grid.assets) %>

   </div>    
  </div>
</div>