<p id="notice"><%= notice %></p>

<h1>Listing Project Ns</h1>

<table>
  <thead>
    <tr>
      <th>T name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_ns.each do |project_n| %>
      <tr>
        <td><%= project_n.t_name %></td>
        <td><%= link_to 'Show', project_n %></td>
        <td><%= link_to 'Edit', edit_project_n_path(project_n) %></td>
        <td><%= link_to 'Destroy', project_n, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project n', new_project_n_path %>
