<%= form_for(@step) do |f| %>
  <% if @step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% @step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Proceso padre <br>
    <%= f.collection_select :parent_id, Step.all.order(:t_description), :id, :t_description, :include_blank => true %>
  </div>

  <div class="field">
    Proceso: <br>
    <%= f.text_field :t_description %>
  </div>

  <div class="field">
    <%= f.label "Si esta bien hecho el anterior" %><br>
    <%= f.collection_select :n_yeststep, Step.all.order(:t_description), :id, :t_description, :include_blank => true %>
    
  </div>

  <div class="field">
    <%= f.label "Sino esta bien hecho el anterior" %><br>
    <%= f.collection_select :n_nostep, Step.all.order(:t_description), :id, :t_description, :include_blank => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
