<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">
        <p id="notice"><%= notice %></p>

        <h1>Mapa de procesos de la compañia</h1>

        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Proceso</th>
              <th>Id de entrada</th>
              <th>id siguiente</th>
              <th>Tipo de paso</th>
              <th>Contiene proceso</th>
              <th>Id practica</th>              
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @steps.each do |step| %>
              <tr>
                <td><%= step.id %></td>
                <td><%= step.t_description %></td>
                <td><%= step.n_yeststep %></td>
                <td><%= step.n_nostep %></td>
                <td><%= step.t_typestep %></td>
                <td><%= step.contains_process %></td>
                <td><%= step.practice_id %></td>                
                <td><%= link_to 'Ver ', step %></td>
                <td><%= link_to 'Editar', edit_step_path(step) %></td>
                <td><%= link_to 'Eliminar ', step, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>
        <%= link_to 'Nuevo Proceso', new_step_path %>
        <br>
        <A HREF="/processmap/match">Mapear mapa de proceso con practica especifica</A>
        <br>
        <A HREF="/processmap/match">Cargar documento del mapa de procesos</A>
   </div>    
  </div>
</div>
