<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">
       <p id="notice"><%= notice %></p>

       <ul class="breadcrumbs">
        <% @step.self_and_ancestors.reverse.each do |step| %> 
          <% if step.id == @step.id %>
           <%= link_to step.t_description, step, :class => 'current' %> |
          <% else %>
            <%= link_to step.t_description, step %> |
          <% end %>
        <% end %>
      </ul>

      <p>
        <strong>Descripcion:</strong>
        <%= @step.t_description %>
      </p>

      <p>
        <strong>Practica de CMMI-Dev:</strong>
        <%= @step.n_practice %>
      </p>

      <p>
        <strong>proceso siguiente:</strong>
        <%= @step.n_yeststep %>
      </p>

      <p>
        <strong>Si el proceso no esta bien:</strong>
        <%= @step.n_nostep %>
      </p>

      <% unless @step.children.empty? %>
        <p><strong>Procesos hijo:</strong></p>
        <ul id="menu">
          <% @step.children.each do |step| %>
          <li><%= link_to step.t_description, step %></li>
          <% end %>
        </ul>
      <% end %>

      <%= link_to 'Editar', edit_step_path(@step) %> |
      <%= link_to 'Regresar', steps_path %> |
      <%= link_to 'Nuevo proceso', new_step_path %>
    </div>    
  </div>
</div>
