<p id="notice"><%= notice %></p>

<p>
  <strong>T name:</strong>
  <%= @base_line.t_name %>
</p>

<p>
  <strong>N date:</strong>
  <%= @base_line.n_date %>
</p>

<%= link_to 'Edit', edit_base_line_path(@base_line) %> |
<%= link_to 'Back', base_lines_path %>
