<%= form_for(@project_step) do |f| %>
  <% if @project_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_step.errors.count, "error") %> prohibited this project_step from being saved:</h2>

      <ul>
      <% @project_step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Tiempo_real %><br>
    <%= f.datetime_select :n_realtime %>
  </div>
  <div class="field">
    <%= f.label :Tiempo_estimado %><br>
    <%= f.time_select :n_estimatedTime %>
  </div>
  <div class="field">
    <%= f.label :Porcentaje_realizado %><br>
    <%= f.text_field :n_completionPercentage %>
  </div>
  <div class="field">
    <%= f.label :Estado %><br>
    <%= f.text_field :t_state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
