<%= form_for(@step_m) do |f| %>
  <% if @step_m.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step_m.errors.count, "error") %> prohibited this step_m from being saved:</h2>

      <ul>
      <% @step_m.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :n_step %><br>
    <%= f.number_field :n_step %>
  </div>
  <div class="field">
    <%= f.label :t_format %><br>
    <%= f.text_field :t_format %>
  </div>
  <div class="field">
    <%= f.label :t_type %><br>
    <%= f.text_field :t_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
