<p id="notice"><%= notice %></p>

<h1>Listing Stepouts</h1>

<table>
  <thead>
    <tr>
      <th>N step</th>
      <th>T format</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stepouts.each do |stepout| %>
      <tr>
        <td><%= stepout.n_step %></td>
        <td><%= stepout.t_format %></td>
        <td><%= link_to 'Show', stepout %></td>
        <td><%= link_to 'Edit', edit_stepout_path(stepout) %></td>
        <td><%= link_to 'Destroy', stepout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stepout', new_stepout_path %>
