<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">

		<h1>Emparejar mapa de procesos con practicas especificas</h1>
		<p><% primera = Primera.new %></p>
		<p><% primera.mostrar %></p>
		<table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Proceso</th>
              <th>Tipo de paso</th>
              <th>Contiene proceso</th>
              <th>Id practica</th>              
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @procces.each do |procces| %>
              <tr>
                <td><%= procces.id %></td>
                <td><%= procces.t_description %></td>
                <td><%= procces.t_typestep %></td>
                <td><%= procces.contains_process %></td>  
                <td><%= procces.practice_id %></td>    
                <td><%= link_to 'Editar', edit_step_path(procces) %></td>               
              </tr>
            <% end %>
          </tbody>
        </table>

        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Area de proceso</th>
              <th>Iniciales</th>
              <th>Id practica</th>
              <th>Practica</th>                            
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @specificpractice.each do |specificarea| %>
              <tr>
                <td><%= specificarea.id %></td>
                <td><%= specificarea.t_name %></td>
                <td><%= specificarea.t_initials%></td>
                              
              </tr>
            <% end %>
          </tbody>
        </table>

  </div>    
  </div>
</div>
