<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">

      <p id="notice"><%= notice %></p>

      <h1>Niveles de CMMI-Dev</h1>

      <table>
        <thead>
          <tr>
            <th>Numero</th>
            <th>Capacidad</th>
            <th>Madurez</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @levels.each do |level| %>
            <tr>
              <td><%= level.t_name %></td>
              <td><%= level.t_capability %></td>
              <td><%= level.t_madurity %></td>
              <td><%= link_to 'Ver', level %></td>
              <td><%= link_to 'Editar', edit_level_path(level) %></td>
              <td><%= link_to 'Eliminar', level, method: :delete, data: { confirm: 'Esta seguro que desea eliminar?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

    <%= link_to 'Nuevo Nivel', new_level_path %>
   </div>    
  </div>
</div>
