<p id="notice"><%= notice %></p>

<p>
  <strong>N step:</strong>
  <%= @stepin.n_step %>
</p>

<p>
  <strong>T format:</strong>
  <%= @stepin.t_format %>
</p>

<%= link_to 'Edit', edit_stepin_path(@stepin) %> |
<%= link_to 'Back', stepins_path %>
