<%= form_for(@project_stepin) do |f| %>
  <% if @project_stepin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_stepin.errors.count, "error") %> prohibited this project_stepin from being saved:</h2>

      <ul>
      <% @project_stepin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :n_step %><br>
    <%= f.number_field :n_step %>
  </div>
  <div class="field">
    <%= f.label :n_project %><br>
    <%= f.number_field :n_project %>
  </div>
  <div class="field">
    <%= f.label :t_document %><br>
    <%= f.text_field :t_document %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
