<p id="notice"><%= notice %></p>

<h1>Listing Project Stepins</h1>

<table>
  <thead>
    <tr>
      <th>N step</th>
      <th>N project</th>
      <th>T document</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_stepins.each do |project_stepin| %>
      <tr>
        <td><%= project_stepin.n_step %></td>
        <td><%= project_stepin.n_project %></td>
        <td><%= project_stepin.t_document %></td>
        <td><%= link_to 'Show', project_stepin %></td>
        <td><%= link_to 'Edit', edit_project_stepin_path(project_stepin) %></td>
        <td><%= link_to 'Destroy', project_stepin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project stepin', new_project_stepin_path %>
