<p id="notice"><%= notice %></p>

<p>
  <strong>N step:</strong>
  <%= @project_stepin.n_step %>
</p>

<p>
  <strong>N project:</strong>
  <%= @project_stepin.n_project %>
</p>

<p>
  <strong>T document:</strong>
  <%= @project_stepin.t_document %>
</p>

<%= link_to 'Edit', edit_project_stepin_path(@project_stepin) %> |
<%= link_to 'Back', project_stepins_path %>
