<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">
     <p id="notice"><%= notice %></p>

      <h1>Listas de practicas</h1>

			<%= datagrid_form_for @grid, :method => :get, :url => practices_path %>

			<%= paginate(@grid.assets) %>
			<%= datagrid_table @grid %>
			<%= paginate(@grid.assets) %>
      <br>
      <%= link_to 'Nueva practica', new_practice_path %>
      <br>
      <A HREF="/processmap/match">Emparejar mapa de proceso con practica especifica</A>
        
   </div>    
  </div>
</div>