<div class="row center-xs">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">		
		<p id="notice"><%= notice %></p>
		<p>
		  <strong>Nombre:</strong>
		  <%= @goal.t_name %>
		</p>

		<p>
		  <strong>Descripcion:</strong>
		  <%= @goal.t_description %>
		</p>

		<p>
		  <strong>Codigo:</strong>
		  <%= @goal.t_type %>
		</p>
		<p>
		  <strong>Area de proceso:</strong>
		  <%= @goal.n_processarea %>
		</p>

		<%= link_to 'Editar', edit_goal_path(@goal) %> |
		<%= link_to 'Regresar', goals_path %>
   </div>    
  </div>
</div>
